.relative {
  position: relative
}

.mb-2 {
  margin-bottom: 0.5rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.rounded {
  border-radius: 0.25rem
}

.border {
  border-width: 1px
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity))
}

.hover\:shadow:hover {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
