{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": ["add-react-displayname", "react-intl"]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        "add-react-displayname",
        [
          "react-intl",
          {
            "messagesDir": "src/lang/.messages"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ]
    }
  }
}
