*

!public/
!src/
src/stories/

!LICENSE.md

!package.json
!package-lock.json

!.babelrc
!tsconfig.json
!next.config.js
!server.js
!next-env.d.ts
!postcss.config.js
!tailwind.config.js
!sentry.*.js
!semantic.json
