API_ENDPOINT=http://localhost:4000/graphql
API_ENDPOINT_WS=ws://localhost:4000/graphql

CACHE_REDIS_ENABLED=true
CACHE_REDIS_HOST=localhost

S3_ROOT_DOMAIN=localhost
S3_ROOT_URL=http://localhost:9000/images

NEXT_PUBLIC_DISPLAY_AAI="false"
