{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "semi": 0,
    "react/prop-types": 1,
    "react/require-default-props": 1,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 1,
    "sort-imports": 1,
    "sort-keys": 1,
    "sort-vars": 1
  }
}
