{
  "env": {
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "styled-jsx": {
              "plugins": ["styled-jsx-plugin-sass"]
            }
          }
        ]
      ],
      "plugins": ["inline-dotenv", "add-react-displayname"]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "styled-jsx": {
              "plugins": ["styled-jsx-plugin-sass"]
            }
          }
        ]
      ],
      "plugins": [
        "transform-inline-environment-variables",
        ["lodash", { "id": ["lodash", "recompose", "semantic-ui-react", "ramda"] }],
        "add-react-displayname",
        [
          "react-intl",
          {
            "messagesDir": "src/lang/.messages"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        [
          "next/babel",
          {
            "styled-jsx": {
              "plugins": ["styled-jsx-plugin-sass"]
            }
          }
        ]
      ],
      "plugins": ["babel-plugin-inline-import-graphql-ast"]
    }
  }
}
