*

!apps/backend/src/
!apps/backend/package.json

!apps/frontend/src/
!apps/frontend/public/
!apps/frontend/compiled-lang/
!apps/frontend/.babelrc
!apps/frontend/tsconfig.json
!apps/frontend/next.config.mjs
!apps/frontend/next-env.d.ts
!apps/frontend/postcss.config.js
!apps/frontend/tailwind.config.js
!apps/frontend/sentry.*.js
!apps/frontend/package.json



!packages/db

!README.md
!LICENSE.md

!package.json
!package-lock.json
!turbo.json
