*

!apps/backend/src/
!apps/backend/package.json

!apps/frontend/src/
!apps/frontend/public/
!apps/frontend/compiled-lang/
!apps/frontend/.babelrc
!apps/frontend/tsconfig.json
!apps/frontend/next.config.js
!apps/frontend/server.ts
!apps/frontend/next-env.d.ts
!apps/frontend/postcss.config.js
!apps/frontend/tailwind.config.js
!apps/frontend/sentry.*.js
!apps/frontend/semantic.json
!apps/frontend/tsconfig.server.json
!apps/frontend/package.json

!packages/ui/src/
!packages/ui/package.json
!packages/ui/tailwind.config.js
!packages/ui/tsconfig.json

!README.md
!LICENSE.md

!package.json
!package-lock.json
!turbo.json
