{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "semi": 0,
    "react/prop-types": 1,
    "react/require-default-props": 1,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 1,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "no-console": 0,
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "reservedFirst": true,
        "shorthandFirst": true
      }
    ],
    "sort-keys": 1
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
