{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:flowtype/recommended"],
  "plugins": ["import", "flowtype"],
  "rules": {
    "semi": 0,
    "no-console": 0
  },
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
