**/__pycache__/
**/node_modules/
coverage/
.nyc_output/
.turbo/
__blobstorage__/
__queuestorage__/

__azurite**
*.archive
secrets*.yaml
.env
**/**/.env

**/.DS_Store
*.pem

/apps/functions/local.settings.json

packages/prisma/src/seed
!packages/prisma/.env
.turbo
