node_modules/
.pnpm-store/
**/.venv/
.next/
.turbo/
.vercel/
.venv/
dist/
out/
build/
email/
.claude/
.serena/
project/
.agents/skills/**/.agnix.toml

# Symlinks
.github/skills
CLAUDE.md

ops.schema.json
ops.ts
schema.graphql
nexus-typegen.ts
client.json
server.json

*.sql
*.prisma

CHANGELOG.md

packages/markdown/components.css
packages/markdown/utilities.css

packages/prisma/src/prisma/client/

packages/graphql/instrumented/

deploy/charts/


apps/frontend-pwa/ios/
apps/frontend-pwa/android/

public/
static/

.docusaurus/
.tsup/

pnpm-lock.yaml

# Shell scripts
*.sh

# Dumps
*.tar
*.gpg

# Unsupported file types
**/*.toml
**/*.gitignore
**/Dockerfile*
**/*.prisma
**/*.py
**/*.txt
**/.codex/