cypress/e2e/
node_modules/
.next/
.turbo/
.vercel/
dist/
out/
build/
email/

ops.schema.json
ops.ts
schema.graphql
nexus-typegen.ts
client.json
server.json

*.sql

CHANGELOG.md

packages/markdown/components.css
packages/markdown/utilities.css

packages/prisma/src/prisma/client/

packages/graphql/instrumented/

deploy/charts/


apps/frontend-pwa/ios/
apps/frontend-pwa/android/

public/
static/

.docusaurus/
.tsup/

pnpm-lock.yaml
