sudo: required

branches:
  only:
    - master

jobs:
  include:
    - &test-setup
      stage: test
      language: node_js
        node_js:
          - "8"
      cache:
        yarn: true
        directories:
          - node_modules
      before_install:
        - 'curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.2.0'
        - export PATH="$HOME/.yarn/bin:$PATH"
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script:
        - yarn test:ci
      after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

    - <<: *test-setup
      script:
        - yarn run format:ci

    - &build-setup
      stage: build
      if: type = push
      addons:
        apt:
          packages:
            - docker-ce
      before_script:
        - docker login -u$DOCKER_USER -p$DOCKER_PASSWORD
      script:
        - docker pull uzhbf/klicker-react:latest
        - docker build --cache-from uzhbf/klicker-react:latest -t uzhbf/klicker-react:latest .
        - docker push uzhbf/klicker-react:latest


    - <<: *build-setup
      if: type = pull_request
      script:
        - docker pull uzhbf/klicker-react:nightly
        - docker build --cache-from uzhbf/klicker-react:nightly -t uzhbf/klicker-react:nightly -t uzhbf/klicker-react:nightly-$TRAVIS_PULL_REQUEST .
        - docker push uzhbf/klicker-react:nightly
        - docker push uzhbf/klicker-react:nightly-$TRAVIS_PULL_REQUEST
