sudo: required

language: node_js
node_js:
  - "8"

before_install:
  - 'curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.2.0'
  - export PATH="$HOME/.yarn/bin:$PATH"

branches:
  only:
    - master

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

jobs:
  include:
    - stage: test
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script:
        - yarn test:ci
      after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
      cache:
        yarn: true
        directories:
          - node_modules

    - stage: test
      script:
        - yarn run format:ci
      cache:
        yarn: true
        directories:
          - node_modules

    - stage: build
      script:
        - docker -v
        - docker login -u$QUAY_USER -p$QUAY_TOKEN quay.io/uzh-bf/klicker-react
        - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash -c "docker pull quay.io/uzh-bf/klicker-react:latest;docker build --cache-from quay.io/uzh-bf/klicker-react:latest -t quay.io/uzh-bf/klicker-react:latest .;docker push quay.io/uzh-bf/klicker-react:latest"; fi
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash -c "docker pull quay.io/uzh-bf/klicker-react:nightly;docker build --cache-from quay.io/uzh-bf/klicker-react:nightly -t quay.io/uzh-bf/klicker-react:nightly -t quay.io/uzh-bf/klicker-react:nightly-$TRAVIS_PULL_REQUEST .;docker push quay.io/uzh-bf/klicker-react:nightly; docker push quay.io/uzh-bf/klicker-react:nightly-$TRAVIS_PULL_REQUEST"; fi
