sudo: required

branches:
  only:
    - master
    - /^v[0-9].[0-9].[0-9]$/
    - /^v[0-9].[0-9].[0-9]-/

jobs:
  include:
    # ensure correct formatting with prettier
    - &test-setup
      stage: test
      language: node_js
      node_js:
        - '8'
      cache:
        yarn: true
        directories:
          - node_modules
      before_install:
        - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
        - export PATH="$HOME/.yarn/bin:$PATH"
      script:
        - yarn run format:ci

    # run jest with test coverage for codeclimate
    # tests need an active instance of mongodb
    - <<: *test-setup
      services:
        # TODO: add redis as a service and include it in integration testing
        - mongodb
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script:
        - mv .env.travis .env
        - yarn test:ci
      after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

    # build all commits to master
    # push a new latest tag to Docker Hub
    # => template for further docker build jobs
    - &build-setup
      stage: build
      if: (type = push) AND (branch = master)
      addons:
        apt:
          packages:
            - docker-ce
      env:
        - IMAGE_NAME="uzhbf/klicker-api"
      before_script:
        - echo $DOCKER_PASSWORD | docker login --username $DOCKER_USER --password-stdin
      script:
        - travis_retry docker pull $IMAGE_NAME:latest
        - >
          docker build .
          --build-arg API_URL=$STAGING_API_URL
          --cache-from $IMAGE_NAME:latest
          -t $IMAGE_NAME:latest
        - travis_retry docker push $IMAGE_NAME:latest

    # build all pull requests
    # push a nightly tag to Docker Hub
    - <<: *build-setup
      if: type = pull_request
      script:
        - docker pull $IMAGE_NAME:nightly
        - >
          docker build .
          --build-arg VERSION=nightly-$TRAVIS_PULL_REQUEST
          --cache-from $IMAGE_NAME:nightly
          -t $IMAGE_NAME:nightly
          -t $IMAGE_NAME:nightly-$TRAVIS_PULL_REQUEST
        - docker push $IMAGE_NAME:nightly
        - docker push $IMAGE_NAME:nightly-$TRAVIS_PULL_REQUEST

    # build unstable tags (e.g. v1.0.0-beta.1)
    # push the tag to Docker Hub
    - <<: *build-setup
      if: (type = push) AND (tag =~ /^v[0-9].[0-9].[0-9]-/)
      script:
        - travis_retry docker pull $IMAGE_NAME:latest
        - >
          docker build .
          --build-arg VERSION=$TRAVIS_TAG
          --cache-from $IMAGE_NAME:latest
          -t $IMAGE_NAME:$TRAVIS_TAG
        - travis_retry docker push $IMAGE_NAME:$TRAVIS_TAG

    # build stable tags (e.g. v1.0.0)
    # push a new stable tag to Docker Hub
    - <<: *build-setup
      if: (type = push) AND (tag =~ /^v[0-9].[0-9].[0-9]$/)
      script:
        - >
          docker build .
          --build-arg VERSION=$TRAVIS_TAG
          -t $IMAGE_NAME:stable
          -t $IMAGE_NAME:$TRAVIS_TAG
        - travis_retry docker push $IMAGE_NAME:$TRAVIS_TAG
        - travis_retry docker push $IMAGE_NAME:stable

    # build stable tags (e.g. v1.0.0)
    # push a new stable tag to APPUiO
    # => this will trigger a new deployment to production
    - <<: *build-setup
      if: (type = push) AND (tag =~ /^v[0-9].[0-9].[0-9]$/)
      env:
        - USER="serviceaccount"
        - PASSWORD=$OC_TOKEN
        - REGISTRY="registry.appuio.ch"
        - IMAGE_NAME="registry.appuio.ch/uniz-klicker/klicker-api-prod"
      before_script:
        - echo $PASSWORD | docker login --username $USER --password-stdin $REGISTRY
      script:
        - >
          docker build .
          --build-arg VERSION=$TRAVIS_TAG
          -t $IMAGE_NAME:stable
          -t $IMAGE_NAME:$TRAVIS_TAG
        - travis_retry docker push $IMAGE_NAME:$TRAVIS_TAG
        - travis_retry docker push $IMAGE_NAME:stable
        - >
          curl $SENTRY_WEBHOOK
          -X POST
          -H 'Content-Type: application/json'
          -d '{"version": $TRAVIS_TAG}'
