sudo: required

language: node_js
node_js:
  - "8"

branches:
  only:
    - master

services:
  - docker

jobs:
  include:
    - stage: test
      script:
        - yarn run flow
      cache:
        yarn: true
        directories:
          - node_modules

    - stage: test
      script:
        - yarn test
      cache:
        yarn: true
        directories:
          - node_modules

    - stage: build
      script:
        - docker login -u$QUAY_USER -p$QUAY_TOKEN quay.io/uzh-bf/klicker-react
        - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash -c "docker pull quay.io/uzh-bf/klicker-react:latest || echo \"No image present\";docker build --cache-from quay.io/uzh-bf/klicker-react:latest -t quay.io/uzh-bf/klicker-react:latest .;docker push quay.io/uzh-bf/klicker-react:latest"; fi
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash -c "docker pull quay.io/uzh-bf/klicker-react:nightly-$TRAVIS_PULL_REQUEST || echo \"No image present\";docker build --cache-from quay.io/uzh-bf/klicker-react:nightly-$TRAVIS_PULL_REQUEST -t quay.io/uzh-bf/klicker-react:nightly:nightly-$TRAVIS_PULL_REQUEST .;docker push quay.io/uzh-bf/klicker-react:nightly:nightly-$TRAVIS_PULL_REQUEST"; fi
