services:
  frontend-pwa:
    profiles:
      - full
    build:
      context: apps/frontend-pwa
      args:
        NODE_ENV: development
        COOKIE_DOMAIN: 127.0.0.1
        NEXT_PUBLIC_ADD_RESPONSE_URL: "http://127.0.0.1:7072/api/AddResponse"
        NEXT_PUBLIC_API_URL: "http://127.0.0.1:3000/api/graphql"
        NEXT_PUBLIC_API_URL_SSR: "http://backend:3000/api/graphql"
    environment:
      APP_SECRET: abcd
    ports:
      - 3001:3000
    networks:
      - klicker-dev

  frontend-manage:
    profiles:
      - full
    build:
      context: apps/frontend-manage
      args:
        NODE_ENV: development
        COOKIE_DOMAIN: 127.0.0.1
        NEXT_PUBLIC_API_URL: "http://127.0.0.1:3000/api/graphql"
        NEXT_PUBLIC_API_URL_SSR: "http://backend:3000/api/graphql"
    ports:
      - 3002:3000
    networks:
      - klicker-dev

  frontend-control:
    profiles:
      - full
    build:
      context: apps/frontend-control
      args:
        NODE_ENV: development
        COOKIE_DOMAIN: 127.0.0.1
        NEXT_PUBLIC_API_URL: "http://127.0.0.1:3000/api/graphql"
        NEXT_PUBLIC_API_URL_SSR: "http://backend:3000/api/graphql"
    ports:
      - 3003:3000
    networks:
      - klicker-dev

  backend:
    profiles:
      - full
    build:
      context: apps/backend-docker
      args:
        NODE_ENV: "development"
    environment:
      DATABASE_URL: "postgres://klicker:klicker@postgres:5432/main"
      APP_SECRET: "abcd"
      REDIS_HOST: "redis_exec"
      REDIS_PORT: 6379
      REDIS_CACHE_HOST: "redis_cache"
      REDIS_CACHE_PORT: 6379
      API_DOMAIN: "127.0.0.1"
      COOKIE_DOMAIN: "127.0.0.1"
    ports:
      - 3000:3000
    networks:
      - klicker-dev

  # main database
  postgres:
    image: docker.io/library/postgres:14.3
    environment:
      POSTGRES_USER: klicker
      POSTGRES_PASSWORD: klicker
      POSTGRES_DB: main
    ports:
      - 5432:5432
    networks:
      - klicker-dev

    # redis instance to support session execution
  redis_exec:
    image: docker.io/library/redis:6
    ports:
      - 6379:6379
    networks:
      - klicker-dev
    volumes:
      - /data

  # redis instance for page caching and rate limiting
  redis_cache:
    image: docker.io/library/redis:6
    ports:
      - 6380:6379
    networks:
      - klicker-dev

  sendria:
    image: msztolcman/sendria:v2.2.2.0
    ports:
      - 1025:1025
      - 1080:1080
    networks:
      - klicker-dev

networks:
  klicker-dev:
    driver: bridge
