{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["import"],
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,

    "import/extensions": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "node": true,
    "jest": true
  }
}
