* {
  font-family: $myFont !important;
}

/* custom header color */
.fixedHeaderContainer {
  background-color: $customHeaderColor;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background-color: $customHeaderColor;
}
/* custom header color */

.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
  font-weight: 500;
}

.mainContainer .wrapper .post h3 {
  color: black;
  margin: 20px 0 0 0;
  padding: 0px;
}

h2.projectTitle {
  font-size: 3rem;
  line-height: 3rem;
}

h2.projectTitle span {
  vertical-align: top;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h2,
h2.projectTitle {
  font-weight: 500;
}

.lightBackground {
  background-color: #7cb8e433;
}

img[alt='Student View Mobile'] {
  max-width: 400px;
}

footer.nav-footer {
  background-color: white;
}

footer.nav-footer .copyright {
  color: grey;
}
