/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

* {
  font-family: $myFont !important;
}

/* custom header color */
.fixedHeaderContainer {
  background-color: $customHeaderColor;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background-color: $customHeaderColor;
}
/* custom header color */

.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
  font-weight: 500;

}

.mainContainer .wrapper .post h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.mainContainer .wrapper .post h3 {
  color: black;
  margin: 20px 0 0 0;
  padding: 0px;
}

h2.projectTitle {
  font-size: 3rem;
  line-height: 3rem;
}

h2.projectTitle span {
  vertical-align: top;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h2, h2.projectTitle {
  font-weight: 500;
}


.lightBackground {
  background-color: #7cb8e433;
}

img[alt="Student View Mobile"] {
  max-width: 400px;
}

footer.nav-footer {
  background-color: #bfbfbf;
}

footer .copyright {
  color: black;
}
  
.button {
  background-color: #2185d0;
  color: #fff;
  border-radius: .28571429rem;
  font-weight: 700;
  padding: .78571429em 1.5em .78571429em;
  border: none;
}

.docMainWrapper .mainContainer {
  margin: 0 auto;
}

.docMainWrapper .mainContainer .wrapper p {
  max-width: none;
}

.navPusher {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  min-height: 100%;
  height: auto;
}