/* 
Alternative approach to "@import 'tailwindcss';" to disable preflight core plugin 
-> https://tailwindcss.com/docs/preflight#disabling-preflight
*/
@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@config '../tailwind.config.mjs';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/forms';

/* override default ring widths and colors to be consistent with previous styling */
@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);
}

/* override certain new defaults to preserve desired behavior */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
