{
  "IsEncrypted": false,
  "Values": {
    "APP_SECRET": "abcd",
    "NODE_ENV": "development",
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "FUNCTIONS_WORKER_PROCESS_COUNT": 10,
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "SERVICE_BUS_CONNECTION_STRING": "",
    "SERVICE_BUS_QUEUE_NAME": "q-dev"
  },
  "Host": {
    "CORS": "http://127.0.0.1:3001",
    "CORSCredentials": true
  }
}