{{- $fullName := include "chart.fullname" . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}-config-backend-graphql
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  API_DOMAIN: {{ .Values.backendGraphql.apiDomain | quote }}
  NOTIFICATION_URL: {{ .Values.backendGraphql.notifications.url | quote }}
  NOTIFICATION_SUPPORT_EMAIL: {{ .Values.backendGraphql.notifications.supportEmail | quote }}
  COOKIE_DOMAIN: {{ .Values.backendGraphql.cookieDomain | quote }}
  CRON_TOKEN: {{ .Values.cron.token | quote }}
  REDIS_CACHE_HOST: {{ .Values.backendGraphql.redisCache.host | quote }}
  REDIS_CACHE_PORT: {{ .Values.backendGraphql.redisCache.port | quote }}
  {{- if .Values.backendGraphql.redisCache.tls }}
  REDIS_CACHE_TLS: {{ .Values.backendGraphql.redisCache.tls | quote }}
  {{ end }}
  REDIS_HOST: {{ .Values.backendGraphql.redisExec.host | quote }}
  REDIS_PORT: {{ .Values.backendGraphql.redisExec.port | quote }}
  REDIS_TLS: {{ .Values.backendGraphql.redisExec.tls | quote }}
  {{- if .Values.backendGraphql.sentryDSN }}
  SENTRY_DSN: {{ .Values.backendGraphql.sentryDSN | quote }}
  SENTRY_RELEASE: {{ .Chart.AppVersion | quote }}
  {{ end }}
  {{- if .Values.backendGraphql.sentryEnv }}
  SENTRY_ENVIRONMENT: {{ .Values.backendGraphql.sentryEnv | quote }}
  {{ end }}
  {{- if .Values.backendGraphql.debug }}
  DEBUG: {{ .Values.backendGraphql.debug | quote }}
  {{ end }}
  {{- if .Values.heartbeats.dailyGroupScores }}
  HEARTBEAT_DAILY_GROUP_SCORES: {{ .Values.heartbeats.dailyGroupScores | quote }}
  {{ end }}
