@import 'tailwindcss/base';
@import '@uzh-bf/design-system/dist/style.css';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

:root {
  @apply font-sans;
  --ifm-color-primary: #dc6027;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --theme-color-primary: #0028a5;
  --theme-color-primary-80: #3353b7;
  --theme-color-primary-60: #667ec9;
  --theme-color-primary-40: #99a9db;
  --theme-color-primary-20: #ccd4ed;
  --theme-color-secondary: #dc6027;
  --theme-color-secondary-80: #e38052;
  --theme-color-secondary-60: #eaa07d;
  --theme-color-secondary-40: #f1bfa9;
  --theme-color-secondary-20: #f8dfd4;
}

html {
  scroll-padding-top: 125px;
  font-size: 16px;
}
