HATCHET_CLIENT_TOKEN=__HATCHET_CLIENT_TOKEN__
HATCHET_CLIENT_HOST_PORT=localhost:7077
HATCHET_CLIENT_TLS_STRATEGY=none
HATCHET_LOG_LEVEL=WARN

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

AUDIT_ENABLED=true
AUDIT_SERVICE_URL=http://127.0.0.1:7080
AUDIT_TOKEN=test-secret-token-123

APP_ORIGIN_AUTH="http://127.0.0.1:3010"
APP_ORIGIN_API="http://127.0.0.1:3000"
APP_ORIGIN_LTI="http://127.0.0.1:4000"
APP_ORIGIN_PWA="http://127.0.0.1:3001"
APP_ORIGIN_MANAGE="http://127.0.0.1:3002"
APP_ORIGIN_CONTROL="http://127.0.0.1:3003"
APP_ORIGIN_ASSESSMENT_API="http://127.0.0.1:3000"
APP_ORIGIN_ASSESSMENT_PWA="http://127.0.0.1:3001"
