{
  "IsEncrypted": false,
  "Values": {
    "NODE_ENV": "development",
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "FUNCTIONS_WORKER_PROCESS_COUNT": 10,
    "DATABASE_URL": ""
  }
}
