releases:
  - name: klicker-v2-qa
    namespace: klicker-v2-qa
    createNamespace: true
    chart: ../charts/klicker-uzh-v2
    version: '{{ env "CHART_VERSION" | default "0.1.0" }}'
    installed: true
    kubeContext: klicker-k8scbfdbd7c
    values:
      - values.yaml
      - frontend:
          replicaCount: 1
