{
  "IsEncrypted": false,
  "Values": {
    "NODE_ENV": "development",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "FUNCTIONS_WORKER_PROCESS_COUNT": 10,
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "MIRATION_BLOB_IMPORT_CONNECTION_STRING": "",
    "MIGRATION_BLOB_STORAGE_PATH": "",
    "MIGRATION_BLOB_IMPORT_IMAGES_CONNECTION_STRING": "",
    "MIGRATION_BLOB_IMPORT_STORAGE_PATH": "",
    "MIGRATION_LEGACY_MONGO_CONNECTION_STRING": "",
    "TEAMS_WEBHOOK_URL": "",
    "LISTMONK_USER": "",
    "LISTMONK_PASS": "",
    "LISTMONK_URL": "",
    "LISTMONK_TEMPLATE_MIGRATION_SUCCESS": -1,
    "LISTMONK_TEMPLATE_MIGRATION_FAILURE": -1
  }
}
