HATCHET_CLIENT_TOKEN=__HATCHET_CLIENT_TOKEN__
HATCHET_CLIENT_HOST_PORT=localhost:7077
HATCHET_CLIENT_TLS_STRATEGY=none
HATCHET_LOG_LEVEL=WARN
HATCHET_WORKFLOWS=
LOG_LEVEL=info

APP_ORIGIN_AUTH="http://127.0.0.1:3010"
APP_ORIGIN_API="http://127.0.0.1:3000"
APP_ORIGIN_LTI="http://127.0.0.1:4000"
APP_ORIGIN_PWA="http://127.0.0.1:3001"
APP_ORIGIN_MANAGE="http://127.0.0.1:3002"
APP_ORIGIN_CONTROL="http://127.0.0.1:3003"
APP_ORIGIN_ASSESSMENT_API="http://127.0.0.1:3000"
APP_ORIGIN_ASSESSMENT_PWA="http://127.0.0.1:3001"
