HATCHET_CLIENT_TOKEN=__HATCHET_CLIENT_TOKEN__
HATCHET_CLIENT_HOST_PORT=localhost:7077
HATCHET_CLIENT_TLS_STRATEGY=none
HATCHET_LOG_LEVEL=WARN
HATCHET_WORKFLOWS=
LOG_LEVEL=info
KB_INGESTION_API_URL=
KB_INGESTION_API_KEY=
KB_INGESTION_PROJECT_ID=klicker-course-materials
KB_SOURCE_GATEWAY_URL=__KB_SOURCE_GATEWAY_URL__
BLOB_STORAGE_ACCOUNT_NAME=__BLOB_STORAGE_ACCOUNT_NAME__
BLOB_STORAGE_ACCESS_KEY=__BLOB_STORAGE_ACCESS_KEY__
KB_GRAPH_HATCHET_CLIENT_TOKEN=__KB_GRAPH_HATCHET_CLIENT_TOKEN__
KB_GRAPH_HATCHET_CLIENT_HOST_PORT=
KB_GRAPH_HATCHET_API_URL=
KB_GRAPH_HATCHET_CLIENT_TLS_STRATEGY=none
KB_GRAPH_HATCHET_WORKFLOW_NAME=
KB_GRAPH_TIMEOUT_SECONDS=21600
KB_GRAPH_STANDARD_GENERATION_MODEL=
KB_GRAPH_STANDARD_CLEANING_MODEL=
KB_GRAPH_HIGH_GENERATION_MODEL=
KB_GRAPH_HIGH_CLEANING_MODEL=

DATABASE_URL="postgres://klicker-prod:klicker@localhost:5432/klicker-prod"
APP_SECRET="abcd"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_CACHE_HOST="localhost"
REDIS_CACHE_PORT=6380

APP_ORIGIN_AUTH="http://127.0.0.1:3010"
APP_ORIGIN_API="http://127.0.0.1:3000"
APP_ORIGIN_LTI="http://127.0.0.1:4000"
APP_ORIGIN_PWA="http://127.0.0.1:3001"
APP_ORIGIN_MANAGE="http://127.0.0.1:3002"
APP_ORIGIN_CONTROL="http://127.0.0.1:3003"
APP_ORIGIN_ASSESSMENT_API="http://127.0.0.1:3000"
APP_ORIGIN_ASSESSMENT_PWA="http://127.0.0.1:3001"
