// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 991px;

// colors
$color-primary: rgb(124, 184, 228); //7cb8e4 // 7cb8e4 // ff9c5a
$color-primary-50p: rgba($color-primary, 0.5);
$color-primary-20p: rgba($color-primary, 0.2);
$color-primary-10p: rgba($color-primary, 0.1);
$color-secondary: rgb(245, 245, 245); // lightgrey
$color-borders: rgb(245, 245, 245); // lightgrey
$color-error-font: #9f3a38;
$color-error-border: #e0b4b4;
$color-error-bg: #fff6f6;
$color-success: green;
$color-focus: rgb(133, 183, 217); // same as in semantic ui

// font definitions
$font-base-mobile: 20px;
$font-base-tablet: 16px;
$font-base-desktop: 14px;
$font-size-h1: 1.3rem;
$font-size-h2: 1.2rem;
$font-size-h3: 1.1rem;

// mixins
@mixin tooltip-icon {
  label > a {
    color: $color-primary;
    margin-left: 0.5rem;

    :global(svg) {
      font-size: 1.3rem;
    }
  }
}

@mixin default-border {
  border: 1px solid $color-borders;
}

@mixin desktop-only {
  @media all and (min-width: $breakpoint-desktop) {
    @content;
  }
}
@mixin desktop-tablet-only {
  @media all and (min-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin mobile-only {
  @media all and (max-width: $breakpoint-mobile) {
    @content;
  }
}
