HATCHET_CLIENT_TOKEN=__HATCHET_CLIENT_TOKEN__
HATCHET_CLIENT_TLS_STRATEGY=none
HATCHET_LOG_LEVEL=DEBUG

PORT=7078
CORS_ALLOWED_ORIGINS=http://localhost:3002,http://127.0.0.1:3002,https://pwa.klicker.com,https://assessment.klicker.com
