repositories:
- name: bitnami
  url: https://charts.bitnami.com/bitnami

releases:
  - name: klicker-v2-qa
    namespace: klicker-v2-qa
    createNamespace: true
    chart: ../charts/klicker-uzh-v3
    version: '{{ env "CHART_VERSION" | default "0.1.0" }}'
    installed: true
    kubeContext: klicker-k8scbfdbd7c
    values:
      - values.yaml
      - appSecret: '{{ requiredEnv "APP_SECRET" }}'

        frontendPWA:
          replicaCount: 1

          sentryEnv: qa
          sentryDSN: '{{ env "SENTRY_DSN_PWA" }}'


        frontendManage:
          replicaCount: 1

          sentryEnv: qa
          sentryDSN: '{{ env "SENTRY_DSN_MANAGE" }}'

        backendGraphql:
          replicaCount: 1

          apiDomain: '{{ requiredEnv "API_DOMAIN" }}'
          cookieDomain: '{{ requiredEnv "COOKIE_DOMAIN" }}'
          databaseUrl: '{{ requiredEnv "DATABASE_URL" }}'
          hiveToken: '{{ requiredEnv "HIVE_TOKEN" }}'
          debug: true

          redisCache:
            host: klicker-v2-qa-redis-master
            port: 6379
            pass: ''

          redisExec:
            host: '{{ requiredEnv "REDIS_HOST" }}'
            port: '{{ requiredEnv "REDIS_PORT" }}'
            tls: '{{ requiredEnv "REDIS_TLS" }}'
            pass: '{{ requiredEnv "REDIS_PASS" }}'

          sentryEnv: qa
          sentryDSN: '{{ env "SENTRY_DSN" }}'
