name: Check file formatting and linting

on:
  push:
    branches: ["v3"]
  pull_request:
    branches: ["v3"]
    types: [opened, synchronize, reopened]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check formatting
        shell: bash
        run: |
          npm ci
          npm run format:check
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check linting
        shell: bash
        run: |
          npm ci
          npm run lint
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check types
        shell: bash
        run: |
          npm ci
          npm run check
