name: Build and deploy func-incoming-responses to Function App (QA)

on:
  push:
    branches:
      - 'v3'
    paths:
      - 'apps/func-incoming-responses/**'
      - '.github/workflows/v3_klickeruzhprod-responses**'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'apps/func-incoming-responses'
  NODE_VERSION: '18.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.12
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          pnpm run prune --scope @klicker-uzh/func-incoming-responses
          pushd out
          pnpm install --frozen-lockfile --ignore-scripts --shamefully-hoist --strict-peer-dependencies
          pnpm run build
          cp -Rf node_modules/* ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/node_modules/
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'klickeruzhprod-responses'
          slot-name: 'qa'
          package: out/${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_8B214CC3C31C4B918FD01C66B18ADCB1 }}
