name: Build and deploy func-migration-v3-import to Function App (Production)

on:
  push:
    branches:
      - 'v3'
      - 'CI'
    paths:
      - 'apps/func-migration-v3/**'
      - '.github/workflows/v3_klickeruzhprod-migration-import**'
  # push:
  #   tags: ['v*.*.*']
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'apps/func-migration-v3-import'
  NODE_VERSION: '18.x' # set this to the node version to use (supports 8.x, 10.x, 12.x)

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.12

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          pnpm dlx turbo prune --scope @klicker-uzh/func-migration-v3-import
          pushd out
          echo "node-linker=hoisted" > .npmrc
          pnpm install --frozen-lockfile --ignore-scripts --strict-peer-dependencies
          mkdir -p node_modules/@klicker-uzh apps/func-migration-v3-import/node_modules/@klicker-uzh
          cp -Rfl packages/prisma node_modules/@klicker-uzh/
          cp -Rfl packages/prisma apps/func-migration-v3-import/node_modules/@klicker-uzh/
          pnpm run build
          mv apps/func-migration-v3-import apps/func
          mv apps/func/host.json .
          cp packages/prisma/dist/schema.prisma apps/func/dist/schema.prisma
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'klickeruzhprod-migration-import'
          package: out
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_DD28D6A97D214920903D9DA7C06D7C96 }}
