name: Build and deploy func-migration-v3-import to Function App (Production)

on:
  push:
    tags: ['v*.*.*']
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'apps/func-migration-v3-import'
  NODE_VERSION: '18.x' # set this to the node version to use (supports 8.x, 10.x, 12.x)

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.12

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          pnpm dlx turbo prune --scope @klicker-uzh/func-migration-v3-import
          pushd out
          echo "node-linker=hoisted" > .npmrc
          pnpm install --frozen-lockfile --ignore-scripts --strict-peer-dependencies
          pnpm run build
          cp -R packages/prisma node_modules/@klicker-uzh/
          mv apps/func-migration-v3-import apps/func
          mv apps/func/host.json .
          mkdir node_modules/@klicker-uzh
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'klickeruzhprod-migration-import'
          package: out
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_DD28D6A97D214920903D9DA7C06D7C96 }}
