name: Build and deploy func-response-processor to Function App (Production)

on:
  push:
    tags: ['v*.*.*']
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'apps/func-response-processor'
  NODE_VERSION: '18.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.12

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          pnpm dlx turbo prune --scope @klicker-uzh/func-response-processor
          pushd out
          echo "node-linker=hoisted" > .npmrc
          pnpm install --frozen-lockfile --ignore-scripts --strict-peer-dependencies
          pnpm run build
          mv apps/func-response-processor apps/func
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'klickeruzhprod-response-processor'
          package: out
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_2D29422CC7724D749B4FE2DB880C2E19 }}
